<div class="container">
    <div class="row">
      <div class="col-sm">
        <p>About</p>
        <p>Contact</p>
        <p>Jobs</p>
        <p>Feedback</p>
      </div>
      <div class="col-sm">
        <p>Our Apps</p>
        <p>Weather API</p>
        <p>Full Screen Weather</p>
        <p>Personal Weather Stations</p>
        <p>Site Map</p>
      </div>
      <div class="col-sm">
        <p>Site Map</p>
        <p>Terms of Use</p>
        <p>NEW Privacy Policy</p>
        <p>AdChoices</p>
        <p>Data Rights</p>
      </div>
    </div>
  </div>