
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <div class="navbar"><img src="assets/navbar.jpg" alt="img" height="75%" width="75%"></div>
      <p>|</p>
      <div class="navbar"><p>Sensor Network</p></div>
      <div class="navbar"><p>Maps & Radar</p></div>
      <div class="navbar"><p>Severe Weather</p></div>
      <div class="navbar"><p>News & Blogs</p></div>
      <div class="navbar"><p>Mobile Apps</p></div>
      <div class="navbar"><p>More</p></div>
      <div>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search Location">
        </form>
      </div>
      <div class="navbar"><p>Log In | Join</p></div>
      <ng-template #logged>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="click" (click)="logOut()">Log Out</button>
      </form>
    </ng-template>
    </div>
  </nav> 